.detail {
    &__container {
        display: flex;
        max-width: 90%;
        margin: 0 auto;
        padding: 30px 0;
    }

    &__image {
        width: 100%;
        
    }

    &__wrapper {
        padding: 0 50px;
    }

    &__backbtn {
        padding: 10px 30px;
        color: black;
        font-size: 20px;
        background-color: white;
        border: none;
        margin-bottom: 30px;
    }
}

.left {
    flex: 1 1 0;
}

.right {
    flex: 2 1 0;
    margin-top: 40px;
}